/* CSS Document */

.loginHg .titleLogin {

}

/*=====================================================generel==============================================*/

html,body{
	  font-size:15px; 
}

/*===========================================horizonal-screen=================================*/

/*================================================HEADER=====================================*/

#vote-dic-single, #vote-dic-battle, #register-dic, #results-dic, #end-show-dic{
	padding:2.3% 0;
	font-size:1em;
}

/*================================================LOG IN SECTION=====================================*/

.logo.login{
	height:23%;
	/* border-top:1px solid blue; */
}

#loginExtendedBox{
 	height:46%;
	margin:12% auto 10%;
}

/*#loginExtendedBox .login{
    border: 1px solid white;
}*/

.loginHg .titleLoginReward{
	min-height: 60px; 
	padding: 10% 24% 0;
	margin:7% auto 5%;
}

.loginHg .titleLogin{
	line-height:1.3em;
}

#login .checkboxArea{
	margin-bottom:4%;
}



/*===============================================MESSAGE SECTION==============================================*/

#message .continue h2{
	margin-bottom:1.8%;
	margin-left:0%;
}

.detail{
	line-height:1.2em;
}

.team{
	background-size:100% 103%;
}

/*=============================================REGISTER SECTION===========================================*/

/* .slide{
	width:21%;
	height:62%;
	top:15%;
	left:5.3%;
} */

.slidein.grey .slider-text{
	top:27%;
}

.slideStay, .slideGo{
	top:-4%;
}

.slider-text.notRegistered{
    top: 0%;
    padding-right: 9px;
}

/*================================================VOTE SECTION=====================================*/
@-webkit-keyframes larrowDown { /*turn arrow DOWN -chrome*/
    0% {
        right: -1%;
    }

    100% {
        right: -1%;
    }
}

@keyframes larrowDown { /*turn arrow DOWN*/
    0% {
        right: -1%;
    }

    100% {
        right: -1%;
    }
}


.contestant2 .slideDownbattle h1, .contestant1 .slideDownbattle h1{
	top:40%;
}

.slideStay h1 {
	left:20%;
}


/*================================================VOTE BATTLE SECTION=====================================*/



/*=============================================RESULTS SECTION======================================================*/



/*=======================================================RESULT BATTLE=========================================*/



/*================================================GALLERY SECTION================================================*/

.goodbyeBox .checkboxArea{
	min-width:85%;/* andrd */
}


/*================================================FOOTER================================================*/
