/* CSS Document */

/*=====================================================generel==============================================*/

html,body{
	  font-size:15px; 
}

/*===========================================horizonal-screen=================================*/

/*================================================HEADER=====================================*/

#vote-dic-single, #vote-dic-battle, #register-dic, #results-dic, #end-show-dic{
	padding:2.3% 0;
	font-size:1em;
}

/*================================================LOG IN SECTION=====================================*/

.loginHg .titleLoginReward{
	min-height: 60px; 
	padding: 14% 24% 0;
}

.loginHg .titleLogin{
	line-height:1.3em;
}

#login .checkboxArea{
	margin-bottom:4%;
}



/*===============================================MESSAGE SECTION==============================================*/



/*=============================================REGISTER SECTION===========================================*/

.slide{
	width:21%;
	height:62%;
	top:14.5%;
	left:5.3%;
}

.slidein.grey .slider-text{
	top:27%;
}

.slideStay, .slideGo{
	top:-4%;
}

/*================================================VOTE SECTION=====================================*/



/*================================================VOTE BATTLE SECTION=====================================*/



/*=============================================RESULTS SECTION======================================================*/



/*=======================================================RESULT BATTLE=========================================*/



/*================================================GALLERY SECTION================================================*/

.goodbyeBox .checkboxArea{
	min-width:85%;/* andrd */
}


/*================================================FOOTER================================================*/

/* footer{
	height:5.8%;
}
 */

