/* CSS Document */

.loginHg .titleLogin {
color: red;
}

/*=====================================================generel==============================================*/

html,body{
	  font-size:17px; 
}

/*===========================================horizonal-screen=================================*/

/*================================================HEADER=====================================*/

#vote-dic-single, #vote-dic-battle, #register-dic, #results-dic, #end-show-dic{
	padding:2.3% 0;
	font-size:1em;
}

/*================================================LOG IN SECTION=====================================*/

.logo.login{
	height:23%;
}

.loginHg{
	padding:7% 0%;
}

#loginExtendedBox{
	height:52%;
	margin:12% auto 10%;
	color:purple;
}

.loginHg .titleLoginReward{
	min-height: 60px; 
	padding: 10% 24% 0;
	margin:9% auto;
}

/*#loginExtendedBox .login{
    border: 1px solid blue;
}*/

#loginExtendedBox .loginHg{
	height:14.5%;
}

.loginHg .titleLogin{
	line-height:1.3em;
	 
}

#login .checkboxArea{
	margin-bottom:4%;
}



/*===============================================MESSAGE SECTION==============================================*/

#message .continue h2{
	margin-bottom:3%;
	margin-left:0%;
}

.detail{
	line-height:1.2em;
}

.team{
	background-size:100% 103%;
}
/*=============================================REGISTER SECTION===========================================*/

.slide{
	width:21%;
	height:62%;
	top:14.5%;
	left:5.3%;
}

.slidein.grey .slider-text{
	top:27%;
}

.slideStay, .slideGo{
	top:-4%;
}

/*================================================VOTE SECTION=====================================*/

@-webkit-keyframes larrowDown { /*turn arrow DOWN -chrome*/
    0% {
        right: -1%;
    }

    100% {
        right: -1%;
    }
}

@keyframes larrowDown { /*turn arrow DOWN*/
    0% {
        right: -1%;
    }

    100% {
        right: -1%;
    }
}

.arrowRed {
right: -4%;
top: 31%;
width: 28%;
}

.arrowBlue {

left: -30%;
top: 26%;
width: 41%;
}

/*================================================VOTE BATTLE SECTION=====================================*/



/*=============================================RESULTS SECTION======================================================*/



/*=======================================================RESULT BATTLE=========================================*/



/*================================================GALLERY SECTION================================================*/

.goodbyeBox .checkboxArea{
	min-width:85%;/* andrd */
}


/*================================================FOOTER================================================*/

/* footer{
	height:5.8%;
}
 */

