
/*.loginHg .titleLogin {
color: orange;
}*/

/*=====================================================generel==============================================*/


/*===========================================horizonal-screen=================================*/


/*================================================HEADER=====================================*/




/*================================================LOG IN SECTION=====================================*/

.logo.login{
	height:23%;
	/* border-left:1px solid blue; */
}

#loginExtendedBox{
	height:44%;
	margin:14% auto 10%;
	
}

.loginHg .titleLoginReward{
	min-height: 60px; 
	padding: 10% 24% 0;
	margin:9% auto;
}
/*#loginExtendedBox .login{
    border: 1px solid black;
}*/

#loginExtendedBox .loginHg{
	height:14.5%;
}

.loginHg .titleLogin{
	line-height:1.3em;
}

#login .checkboxArea{
	margin-bottom:4%;
}

.loginHg .titleLoginReward{
	margin:3px auto;
}


/*===============================================MESSAGE SECTION==============================================*/

.team{
	background-image: url(../images/masseg/team.png);	
}



/*=============================================REGISTER SECTION===========================================*/

#vote-dic-single, #vote-dic-battle, #register-dic, #results-dic, #end-show-dic{
	font-size:1.8em;
	padding-top:1.6%;
}


.slide{
	width: 22%;
    height: 63%;
    background-size: 100% 100%;
    top: 15.3%;
	left:5.3%;	
}

/*================================================VOTE SECTION=====================================*/

#voteSingle .arrowBlue{
	left:-8%;
	top:6%;
}

#voteSingle .arrowRed{
	top:10%;
}

.slideGo, .slideStay{
	/* top:6%; */
}

/*================================================VOTE BATTLE SECTION=====================================*/

#voteBattle .slideGo{
	top:27%;
}

/*=============================================RESULTS SECTION======================================================*/

#results .single .percentage{
	top:150%;
}

/*=======================================================RESULT BATTLE=========================================*/



/*================================================GALLERY SECTION================================================*/




/*================================================FOOTER================================================*/

