/* CSS Document */

/*=====================================================generel==============================================*/

html,body{
	  font-size:15px; 
}

/*===========================================horizonal-screen=================================*/

/*================================================HEADER=====================================*/


/*================================================LOG IN SECTION=====================================*/

.loginHg .titleLoginReward{
	min-height: 60px; 
	padding: 14% 24% 0;
}

/*===============================================MESSAGE SECTION==============================================*/



/*=============================================REGISTER SECTION===========================================*/



/*================================================VOTE SECTION=====================================*/



/*================================================VOTE BATTLE SECTION=====================================*/



/*=============================================RESULTS SECTION======================================================*/



/*=======================================================RESULT BATTLE=========================================*/



/*================================================GALLERY SECTION================================================*/

.goodbyeBox .checkboxArea{
	min-width:85%;/* andrd */
}


/*================================================FOOTER================================================*/

/* footer{
	height:5.8%;
}
 */

