/* CSS Document */

/*=====================================================generel==============================================*/


body {
	background-image: url(../images/general-background.jpg);
}

section{
	height: 82.9%;
}

/*===========================================horizonal-screen=================================*/

#horizonal-screen {
	/* background-image: url(../images/horizonal-background.jpg); */
}

#flip-me {
	/* background-image: url(../images/flip.png); */
}

/*================================================HEADER=====================================*/

header {
    height: 11.3%;
}

/*.header.logo {
	background-image: url(../images/large/header/kohav_logo_big.png);
}*/

/*.live{
	background-image: url(../images/large/header/kohav_live_sequence1.png);
}*/



/*================================================LOG IN SECTION=====================================*/


/*===============================================MASSEGE SECTION==============================================*/



/*=============================================REGISTER SECTION===========================================*/



/*================================================VOTE SECTION=====================================*/



/*================================================VOTE BATTLE SECTION=====================================*/



/*=============================================RESULTS SECTION======================================================*/



/*=======================================================RESULT BATTLE=========================================*/



/*================================================GALLERY SECTION================================================*/





footer{
	height:5.8%;
}


