/* CSS Document */

/*=====================================================generel==============================================*/

#upSide_login{
	height:76.05%;
}

#upSide{
	height:60.76%;
	top:14.87%;
}

.topMenu{
	height:5.07%;
	top:14.87%;
}

/*===========================================horizonal-screen=================================*/

/*================================================HEADER=====================================*/

header {
    height: 14.62%;
}

/*================================================LOG IN SECTION=====================================*/


/*===============================================MASSEGE SECTION==============================================*/



/*=============================================REGISTER SECTION===========================================*/



/*================================================VOTE SECTION=====================================*/



/*================================================VOTE BATTLE SECTION=====================================*/



/*=============================================RESULTS SECTION======================================================*/



/*=======================================================RESULT BATTLE=========================================*/



/*================================================GALLERY SECTION================================================*/


/*================================================FOOTER================================================*/

#banner{
	height:8.87%;
}