/* CSS Document */

/*=====================================================generel==============================================*/


body {
	/* background-image: url(../images/general-background.jpg); */
	font-size:9px;
}

section{
	height: 82.9%;
}

.musix {
    background-image: url(../large/images/musix.png);
}

/*===========================================horizonal-screen=================================*/


#flip-me {
	/* background-image: url(../images/flip.png); */
}

/*================================================HEADER=====================================*/

header {
    height: 11.3%;
}

.header.logo {
	background-image: url(../images/large/header/kohav_logo_big.png);
}

.live{
	background-image: url(../images/large/header/kohav_live_sequence1.png);
    width: 5%;
}



/*================================================LOG IN SECTION=====================================*/


/*===============================================MASSEGE SECTION==============================================*/



/*=============================================REGISTER SECTION===========================================*/



/*================================================VOTE SECTION=====================================*/

.slideLeft {
    background-image: url(../images/large/votes/kohav_vote_slider_left.png);
}

.slideRight {
    background-image: url(../images/votes/slide_pick_right.png);
}

.contestant1 .slideTopbattle {
    background-image: url(../images/votes/slide_pick_right.png);

/*================================================VOTE BATTLE SECTION=====================================*/



/*=============================================RESULTS SECTION======================================================*/



/*=======================================================RESULT BATTLE=========================================*/



/*================================================GALLERY SECTION================================================*/





footer{
	height:5.8%;
}


