/* CSS Document */

/* CSS Document */

/*=====================================================generel==============================================*/


html , body {
	/* background-image: url(../images/general-background.jpg); */
	font-size:15x;
    background-repeat: repeat;
    overflow: scroll;
}

section{
	height: 82.9%;
}

.musix {
    background-image: url(../normal/images/musix_logo.png);
}

/*===========================================horizonal-screen=================================*/

#horizonal-screen {
	/* background-image: url(../images/horizonal-background.jpg); */
}

#flip-me {
	/* background-image: url(../images/flip.png); */
}

/*================================================HEADER=====================================*/

header {
    height: 11.3%;

}

.header.logo {
	background-image: url(../images/normal/header/kohav_logo_big.png);
}

.live{
	background-image: url(../images/normal/header/kohav_live_sequence1.png);
}

.topMenu {
	
	height: 5%;	
	
    top: 11.5%;
}


/*================================================LOG IN SECTION=====================================*/


/*===============================================MASSEGE SECTION==============================================*/

.detail{
	line-height:1.2em;
}

#message-no-img-text{
	line-height:1.3em;
	width:80%;
	font-size:2em;
}

#message .continue h2{
	font-size: 1em;
}

.continue{
	margin-top:4%;
	
}

.continue h2 {
    font-size: 0.7em;
}

.messageNoImage .message{
	height:35%;
}

#message .contIcons{
	 height:23%;  
	 width:13%;   
	 border:1px solid yellow;
}

.contIcons{
	 border:1px solid red;
	 height:70%;  
	 width:13%;   
	 background-image: url(../images/masseg/dots_gif_iphone.png);
	 background-repeat: no-repeat;
	 background-position-x: -326px;
	 vertical-align:middle;
}


/*=============================================REGISTER SECTION===========================================*/

.songName, .songName1, .songName2{
    font-size: 0.8em;
}

.songName h1{
    margin-top: 1%;
}
/*================================================VOTE SECTION=====================================*/

.slideLeft {
    background-image: url(../images/normal/votes/kohav_vote_slider_left.png);
}

.slideRight {
    background-image: url(../images/votes/slide_pick_right.png);
}

.contestant1 .slideTopbattle {
    background-image: url(../images/votes/slide_pick_right.png);
}

/*================================================VOTE BATTLE SECTION=====================================*/



/*=============================================RESULTS SECTION======================================================*/



/*=======================================================RESULT BATTLE=========================================*/

.resultScalaR {
/*     background-color: rgba(0,0,0,0.5);
    width: 5%;
    height: 62.5%;
    border-radius: 6px;
    position: absolute;
    top: 14%;
    right: 2%;
    overflow: hidden; */
}

.resultRed {
    background-image: url(../images/normal/results/kohav_red_off.png);
}

.scalaRed {
    background-image: url(../images/normal/results/kohav_red_on.png);
}


/*================================================GALLERY SECTION================================================*/





#banner{
	height:5.8%;
}


/* 

.fbText,.logText{
	font-size:2em;
}
.header.logo {
width: 50%;
}
.topMenu {
	width: 100%;
	height: 7%;	
	background-size: 1% 100%;
}
.slide {
background-image: url(../images/register/signin_slider_button.png);
top: 7%;
}
.slideRight,.slideLeft {
background-size: 100%;
}
.slideStay,.slideGo {
top: 10%;
}

.contestant1 .slideStay,.contestant2 .slideGo {
top: 8%;
}
.contestant2 .hate,.contestant1 .hate {
}
.contestant2 .love,.contestant1 .love  {
}

.contIcons {
margin: 2% 0 0 0;
}
element.style {
}
.continue h2 {
margin-top: 1%;
}
.battle .reMesseg{
}
.swiper-slide {
  width: 390px;
 } */