/*.loginHg .titleLogin {
color: green;
}*/


html, body {
    /* font-size:15px; */ /*andrd */
}

.header.logo {
    height: 120%;
}

#close-agreement {
    font-size: 1em;
    line-height: 115%;
    position: absolute;
    top: -5%;
    left: 1%;
    border: solid 1px black;

}

#horizonal-screen {
	 background-image: url(../images/horizonal-background-iphone.png);
}


.loginHg .titleLogin, .loginHg .titleLoginReward {
    font-size: 0.85em;
    margin: 1% auto;
}

.loginHg .titleLoginReward{
	min-height: 60px; 
	 margin: 8% 0%; 
	padding: 0% 24%;
}

.loginHg .titleLoginReward {
    min-height: 60px;
    margin: 10% 0 8%;
    padding: 0% 24%;
}

.facebookArea .login .logText {
    display: block;
    width: 50%;
    margin: 0 auto;
    top: 25%;
}

#loginExtendedBox .loginHg {
    height: 10%;
}

h1, .facebookArea, .logFb, .logText {
    font-size: 0.8em;
}

#result-gallery .songName, #result .songName {
    font-size: 0.77em;
    height: auto;
}

.songName h1, .songName h2 {
    /* line-height:120%;
	width:82%;
}
 */
    /* #results .songName1 h1, #results .songName1 h2, #results .songName2 h1, #results .songName2 h2{ */
    width: 82%;
    padding-right: 9%;
    margin-right: 0%;
    font-size: 0.7em;
    line-height: 120%;
}

.songName h1 {
    margin-top: 1.7%;
}

/* h1 .songName1,h1 .songName2{
	font-size: 1em;
} 

h2 .songName1,h2 .songName2{
	font-size: 1em;
} 
 */
#loginRewardBox.checkboxArea {
    padding: 40px 10px 0 0;
}

#loginRewardBox .loginBox {
    margin: 8% auto 4%;
}

#login .checkboxArea {
    padding: 2px 10px 0 0;
    min-height: 36%;
    margin: 2% auto;
}

#download-music-text, #gallery .logFb .logFb-text {
    font-size: 14px;
    /* font-size: 1.2em; */
}

#download-music-text {
    top: 20%;
}

#loginExtendedBox { /*, #loginRewardBox*/
    height: 52%;
    position: relative;
    top: 0%;
    margin: 4% auto;
}

#loginExtendedBox .logFb .logFb-text {
    font-size: 1.4em;
}

#loginRewardBox .logFb .logFb-text {
    font-size: 1em;
}

#loginRewardBox .logText {
    font-size: 0.5em;
}

/* #gallery .logFb .logFb-text{
	font-size:1.2em;
}
 */
.logFb, .login, #loginRewardBox .logFb, #loginExtendedBox #loginRewardBox .login {
    height: 35px;
}

#loginExtendedBox .login {
    font-size: 1.4em;
    margin-top: 2%;
    height: 35px;
    
    /*border: 2px solid gray;*/
}

#loginRewardBox .loginHg {
    height: 63%;
}

#message .continue h2 {
    font-size: 1em;
}

.continue h2 {
    font-size: 0.95em;
}

.topMenu {
    height: 6%;
}

.checkboxArea, #result-gallery .checkboxArea {
    font-size: 0.7em;
}

#result-gallery h1, #result-gallery h2 {
    line-height: 120%;
    margin: 0% auto;
}

#loginRewardBox .checkboxArea {
    margin: 22% auto 2%;
}

.checkboxArea {
    height: 62px;
}


label[for="checkbox1"], label[for="checkbox2"], label[for="checkbox3"], label[for="checkbox4"] {
    /* font-size: 1em; */
    text-align: justify;
}

input[type=checkbox] {
    margin: 2%;
    width: 1em;
    height: 1em;
}

#checkbox3 input[type=checkbox] {
    margin-top: 3%;
}

input[type=checkbox] {
    width: 1.3em;
    height: 1.3em;
}


.loginHg {
    padding: 2.5% 0;
}

.logFb .icon {
    background-size: 45% 60%;
}

.speker {
    width: 87%;
    height: 51%;
    top: -23%;
}

h2 {
    font-size: 0.6em;
}

.message {
    border-top: 1px solid #005d8d;
    border-bottom: 1px solid #183344;
    /*rgba(196,196,196,0.5);*/
}

#vote-dic-single, #vote-dic-battle, #register-dic, #results-dic, #end-show-dic {
    font-size: 0.9em;
    vertical-align: middle;
    padding: 0.3% 0;
}

.slideStay h1, .slideGo h1 {
    font-size: 2em;
}

.contestant2 .slideGo, .contestant1 .slideGo, .contestant2 .slideStay, .contestant1 .slideStay {
    top: 22%;
}

.message .continue h2 {
    margin-top: 3.5%;
    font-size: 0.14em;
}

#message .continue {
    height: 7%;
}

#message-no-img-text {
    font-size: 1em;
    /* 	line-height:1.2em; */
}

.detail {
    font-size: 0.89em;
    /* font-size: 1em; */
    margin-top: 3%;
}

.slider-text {
    font-size: 1.2em;
}

#notRegister .slider-text {
    font-size: 0.9em;
}

.topMenu {
    line-height: 150%;
}

.team {
    /*background-size: 100% 131%;*/
    background-position: center 40%;
}
#loader{
    
font-size: 2em;
}
#loader span{
    left: 42%;
}

header {
    height: 17.3%;
}

.header.logo {
    background-image: url(../images/header/kohav_main_header_small.png);
}

section {
    top: 17.6%;
}

.slide {
    width: 23%;
    height: 73%;
    background-size: 100% 100%;
    top: 17.5%;
    left: 5.3%;
}

.red .slide {
    top: 11.5%;
    height: 69%;
    left: 3%;
}


.slide:hover {
    background-size: 100% 100%;
}

.slideLeft {
    background-size: 100% 100%;
}

.slideRight {
    background-size: 100% 100%;
}

.slideStay {
    top: -8%;
}

.slideGo {
    top: -8%;
    left: 34%;
}

.slideStay h1 {
    left: 32%;
}

#results .percentage {
    font-size: 108%;
}

/* #results-song-name-single, #results-comp-name-first, #results-song-name-second, #results-comp-name-second {
    width: 50%;
    margin: auto;
    font-size: 0.6em;
} */

#results .divideH .waiting-high {
    height: 69.3%;
}

#results .divideH .waiting-low {
    height: 18.2%;
    top: 76.85%;
}

.loginHg {
    /*top: 43%;*/
}

.live {
    width: 7%;
}

#gallery .logFb, #download-music {
    height: 28px;
}

#gallery-title h2 {
    margin-top: 10%;
}

#gallery-title {
    margin: 10% 0 0%;
}

#result-gallery {
    height: 38%;
    font-size: 1.2em;
    margin: 3% auto 1%;
}

#result-gallery .percentage {
    width: 20%;
    font-size: 0.7em;
    margin: 2% auto 1%;
}

#result-gallery .reMesseg {
    /*height:38%;*/
}

#results .battle .reMesseg .continue {
    height: 54%;
}

.goodbyeBox {
    margin: 2% auto;
}

.goodbyeBox .checkboxArea {
    margin-right: 0px;
    float: right;
    direction: ltr;
    min-width: 87%; /* andrd */
}

.checkboxArea .textAd {
    min-width: 84%;
    vertical-align: top;
}

.checkboxArea .tvImgCB {
    margin-top: 0%;
}

#checkbox4 {
    margin-right: 0px;
}

#message .contIcons {
    height: 72%;
    width: 16%;
}

.contIcons {
    height: 72%;
    width: 13%;
    background-image: url(../images/masseg/dots_gif_iphone.png);
    background-repeat: no-repeat;
}

.musix {
    background-image: url(../images/musix_general.png);
    background-size: 100% 100%;
    width: 45%;
    margin: 0 27.5%;
    height: 15%;
    position: absolute;
    bottom: 2.3%;
}

#login .musix {
    height: 12.5%;
}

/*@-webkit-keyframes rarrowUp {/*rotate right arrow up- vote single- chrome*/
/*   0% {
        left: -25%;
        top: 19%;
        -webkit-transform: rotateZ(-90deg);
    }

    100% {
        left: -25%;
        top: 23%;
        -webkit-transform: rotateZ(0deg);
    }
}*/

/*@keyframes rarrowUp {*/ /*rotate right arrow up- vote single*/
/*0% {
        left: -25%;
        top: 19%;
        transform: rotateZ(-90deg);
    }

    100% {
        left: -25%;
        top: 18%;
        transform: rotateZ(0deg);
    }
}*/



/*@-webkit-keyframes larrowDown{*/ /*turn arrow DOWN -chrome*/
/*0% {
        left: -10%;
        top: 22%;
        -webkit-transform: rotateZ(90deg);
    }

    100% {
        left: -25%;
        top: 13%;
        -webkit-transform: rotateZ(180deg);
    }
}*/

/*@keyframes larrowDown{*/ /*turn arrow DOWN -chrome*/
/*0% {
        left: -10%;
        top: 22%;
        transform: rotateZ(90deg);
    }

    100% {
        left: -25%;
        top: 13%;
        transform: rotateZ(180deg);
    }
}*/
