h1 {
    font-size: 1em;
}

.speker {
    width: 87%;
    height: 51%;
    top: -23%;
}


h2 {
    font-size: 1em;
}

.massage {
    border-top: 1px solid #005d8d;
    border-bottom: 1px solid rgba(196,196,196,0.5);
}



message .continue h2 {
    margin-top: 3.5%;
}

.detail {
    font-size: 0.8em;
    margin-top: 3%;
}

.slider-text {
    font-size: 1.225em;
}

.topMenu {
    line-height: 150%;
}

header {
    height: 17.3%;
}

section {
    top: 17.6%;
}

.slide {
    background-size: 100% 100%;
    top: 18.5%;
    height: 72%;
    left: 5.5%;
    width: 20.5%;
}

.red .slide {
    top: 11.5%;
    height: 69%;
    left: 3%;
}


.slide:hover {
    background-size: 100% 100%;
}

.slideLeft {
    background-size: 100% 112%;
    height: 23%;
}

.slideRight {
    background-size: 100% 112%;
    height: 23%;
}

.slideStay {
    top: 24%;
}

.slideGo {
    top: 24%;
}

.slideStay h1 {
    left: 49%;
}

#results .percentage {
    
    font-size: 1.5em;
   
}

#results-song-name-single, #results-comp-name-first, #results-song-name-second, #results-comp-name-second {
    width: 50%;
    margin: auto;
}

#results .divideH.waiting-high {
    height: 69.3%;
}

#results .divideH.waiting-low {
    height: 18.2%;
    top: 76.85%;
}

.loginHg {
    top: 43%;
}

.live {
    width: 7%;
}
